.coverage
.coverage.*
__pycache__
*.egg-info
dist
build
*.pyc
.cache/
.tox/
tmp/
.pytest_cache/
.lock-*
.tags
tex2pdf.*

ra.docx
main.rest
normalfromstpl.rst
with_images.rest

_links_*
!doc/_links_sphinx.rst
test/fixtures/*

#waf
.waf????????*
**/waf*-*-*/
**/waf/*
**/WAFDIR

